# Raw data
*.fasta
isoseq_optimization/resources/rawdata

isoseq_optimization/results
isoseq_optimization/output
isoseq_optimization/logs
isoseq_optimization/.snakemake
isoseq_optimization/resources
isoseq_optimization/resources
isoseq_optimization/snake.txt